
body { 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column;
}

header{

}
main{
  flex-grow: 1;
  } 

footer{ 

}

.bkrimg{
  background-image: url(/Scar16.jpg);
  background-color:white ;
  background-position: center ;
  background-size:cover ;
}

.spcfont{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.spctitle{
  font-family: 'Fenix', serif;
}


@media(min-width: 768px){
  .strengths-card{
    position: absolute;
    bottom: 0;
    transform:translateY(8%) ;
  }
}


@media(min-width:768px){
.card-feature{
  position: relative;
  }
}


